<div class="row">
	<div class="col-md-12">
		<div class="col-md-4 col-md-offset-4">
			<form role="form">
				<div class="header">
					<h3 class="title">Login page</h3>
				</div>
				<div class="form-group">
					<label for="userName">Username </label>
					<input class="form-control" ng-model="credentials.username" id="userName">
				</div>
				<div class="form-group">
					<label for="userPass">Password </label>
					<input type="password" class="form-control" ng-model="credentials.password" id="userPass">
				</div>
				<div class="form-group has-error">
					<span ng-show="userError" class="control-label">Invalid username or password.</span>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary" ng-click="userAuth()">Log in</button>
					<a class="btn btn-default" href="#" ng-click="register()">Register</a>
				</div>
			</form>
		</div>
	</div>
</div>
