<div class="row">
	<div class="col-md-12">
		<div class="col-md-6 col-md-offset-3">
			<form id="contactForm" role="form">
				<div class="header">
					<h3 class="title">Contact</h3>
				</div>
				<div class="form-group has-error">
					<span ng-show="contactError" class="control-label">*Please fill out all required fields.</span>
				</div>
				<div class="form-group">
					<label for="inputEmail" class="required">Email </label>
					<input type="email" class="form-control" ng-model="contact.email" id="inputEmail" required>
				</div>
				<div class="form-group">
					<label for="inputName" class="required">Name </label>
					<input class="form-control" ng-model="contact.name" id="inputName" required>
				</div>
				<div class="form-group">
					<label for="inputSubject" class="required">Subject </label>
					<input class="form-control" ng-model="contact.subject" id="inputSubject" required>
				</div>
				<div class="form-group">
					<label for="inputMessage" class="required">Message </label>
					<textarea rows="6" class="form-control" ng-model="contact.message" id="inputMessage"></textarea>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary" ng-click="sendEmail()">Send</button>
					<a class="btn btn-default" href="#" ng-click="cancel()">Cancel</a>
				</div>
			</form>
		</div>
	</div>
</div>
