<div class="row">
	<div class="col-md-12">
		<div class="col-md-4 col-md-offset-4">
			<form id="registerForm" role="form">
				<div class="header">
					<h3 class="title">User info</h3>
				</div>
				<div class="form-group has-error">
					<span ng-show="registerFailed" class="control-label">*Please fill out all required fields.</span>
				</div>
				<div class="form-group">
					<label>Username </label>
					<input type="text" class="form-control" ng-model="currentUser.username" disabled>
				</div>
				<div class="form-group">
					<label for="inputEmail" class="required">Email </label>
					<input type="email" class="form-control" ng-model="extras.email" id="inputEmail" required>
				</div>
				<div class="form-group">
					<label for="inputName" class="required">Name </label>
					<input class="form-control" ng-model="extras.name" id="inputName" required>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary" ng-click="saveUserExtras()">Save</button>
					<a class="btn btn-default" href="#" ng-click="cancel()">Cancel</a>
				</div>
			</form>
		</div>
	</div>
</div>
