<table class="table table-hover table-responsive">
	<thead>
		<tr>
			<th>Title</th>
			<th>Length</th>
			<th>Author</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="video in videos">
			<td>{{video.title}}</td>
			<td>{{video.duration}}</td>
			<td>{{video.author}}</td>
			<td><a class="btn btn-primary" href="video/{{video.id}}">Play</a></td>
		</tr>
	</tbody>
</table>