<div class="row">
	<div class="col-md-8" id="video-container">
		<div class="col-sm-12">
			<div class="col-sm-8">
				<video videoloader="{selectedVideo: {{selectedVideo}}, tags: {{videoTags}}}" class="video-js vjs-default-skin" width="100%">
				</video>
			</div>
			<div class="col-sm-4">
				<ul class="tags-list" ng-repeat="tag in tags">
					<li><button class="btn btn-primary tagButton"><i class="{{tag.icon}}"></i> {{tag.title}}</button></li>
				</ul>
			</div>
		</div>
		<div class="col-sm-12 video-tags">
			<h4>Annotations</h4>
			<ul ng-repeat="tag in videoTags">
				<li><a href="#" ng-click="getSelectedTag(tag)" class="btnTagTime" tooltip-placement="bottom" tooltip="{{tag.title}}">{{tag.title}}</a></li>
			</ul>
			<p ng-show="noAnnotations">No annotations.</p>	
		</div>
		<div class="col-sm-12 video-desc">
			<div class="col-sm-2"><strong>Title</strong></div><div class="col-sm-10">{{selectedVideo.title}}</div>
			<div class="col-sm-2"><strong>Author</strong></div><div class="col-sm-10">{{selectedVideo.author}}</div>
			<div class="col-sm-2"><strong>Description</strong></div><div class="col-sm-10">{{selectedVideo.description}}</div>
		</div>

	</div>
	<div class="col-md-4"></div>
</div>

<script type="text/ng-template" id="myModalContent.html">
	<form role="form">
		<div class="modal-header">
			<h3 class="modal-title">Do you want to add <i>{{tagCategory}}</i> tag?</h3>
		</div>
		<div class="modal-body">
			<div class="form-group has-error">
				<p ng-show="tagError" class="control-label">*Please fill out the required fields!</p>
			</div>
			<div class="form-group">
				<label for="tagText" class="required">Annotation (50 characters max): </label>
				<input class="form-control" maxlength="50" ng-model="tagText" id="tagText" required>
			</div>
			<div class="form-group">
				<label for="tagTime">Time (seconds): </label>
				<input type="number" class="form-control" ng-model="tagTime" id="tagTime" disabled>
			</div>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary" ng-click="ok()">OK</button>
			<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
		</div>
	</form>
</script>
