<div class="row">
	<div class="col-md-12">
		<h3>Privacy policy</h3>
		<p>There are many different ways you can use our services – to search for and share information, or to add new content. When you share information with us, for example by creating a MyVideo Account, we can make those services even better – to show you more relevant search results. As you use our services, we want you to be clear how we’re using information and the ways in which you can protect your privacy.</p>

		<p>We’ve tried to keep it as simple as possible, but if you’re not familiar with terms like cookies, IP addresses and browsers, then read about these key terms first. Your privacy matters to us so whether you are new to MyVideo or a long-time user, please do take the time to get to know our practices – and if you have any questions <a href="/contact">contact us.</a></p>
	</div>
</div>