<div class="row">
	<div class="col-md-12">
		<div class="col-md-4 col-md-offset-4">
			<form id="registerForm" role="form">
				<div class="header">
					<h3 class="title">Registration</h3>
				</div>
				<div class="form-group has-error">
					<span ng-show="userExists" class="control-label">Username already exists.</span>
					<span ng-show="registerFailed" class="control-label">*Please fill out all required fields.</span>
				</div>
				<div class="form-group has-success">
					<span ng-show="registerSuccess" class="control-label">Thank you for registering! Now you can <a href="/auth">log in</a> with your credentials.</span>
				</div>
				<div class="form-group">
					<label for="inputUsername" class="required">Username </label>
					<input class="form-control" ng-model="user.username" id="inputUsername" required>
				</div>
				<div class="form-group">
					<label for="inputEmail" class="required">Email </label>
					<input type="email" class="form-control" ng-model="user.email" id="inputEmail" required>
				</div>
				<div class="form-group">
					<label for="inputPassword" class="required">Password </label>
					<input type="password" class="form-control" ng-model="user.password" id="inputPassword" pattern=".{6,}" required>
					<span class="help-block">Minimum of 6 characters</span>
				</div>
				<div class="form-group">
					<label for="inputConfirmPass" class="required">Confirm Password </label>
					<input type="password" pattern=".{6,}" class="form-control" id="inputConfirmPass" required>
					<span class="help-block">Minimum of 6 characters</span>
				</div>
				<div class="form-group">
					<label for="inputName" class="required">Name </label>
					<input class="form-control" ng-model="user.name" id="inputName" required>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary" ng-click="createUser()">Register</button>
					<a class="btn btn-default" href="#" ng-click="cancel()">Cancel</a>
				</div>
			</form>
		</div>
	</div>
</div>
