<!DOCTYPE html>
<html lang="en" ng-app="videoApp">
<head>
	<base href="/">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="styles/style.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

	<!-- Latest minified JQuery -->
	<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular-route.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular-cookies.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>

	<!-- AngularJS files -->
	<script src="src/app.js"></script>
	<script src="src/videoService.js"></script>
	<script src="src/authService.js"></script>
	<script src="src/playerCtrl.js"></script>
	<script src="src/constants.js"></script>
	<script src="src/listCtrl.js"></script>
	<script src="src/playerDirective.js"></script>
	<script src="src/userCtrl.js"></script>
	<script src="src/contactCtrl.js"></script>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" type="image/x-icon" href="img/favicon.png" />
	<title>MyVideo</title>

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	<!-- VideoJS -->
	<link href="http://vjs.zencdn.net/4.3/video-js.css" rel="stylesheet">
	<link href="scripts/videojs-caption/videojs.caption.min.css" rel="stylesheet">
	<script src="http://vjs.zencdn.net/4.3/video.js"></script>
	<script src='scripts/videojs-caption/videojs.caption.min.js'></script>


</head>
<body ng-controller="appCtrl">
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">

				<a class="navbar-brand" rel="home" href="/" title="MyVideo application">
					<img class="logo" src="img/logo.png"></a>

					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only"> Toggle navigation </span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button> 	
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<span ng-if="isAuthenticated" id="welcome-msg">Welcome, {{ currentUser.username }}</span>
						</li>
						<li>
							<p class="navbar-btn"><a ng-if="!isAuthenticated" href="/register" class="btn btn-default">Register</a></p>
						</li>
						<li>
							<p class="navbar-btn"><a ng-if="!isAuthenticated" href="/auth" class="btn btn-default">Login</a></p>
							<p class="navbar-btn"><a ng-if="isAuthenticated" href="/extras" class="btn btn-default">Account</a></p>
						</li>
						<li>
							<p class="navbar-btn"><a ng-if="isAuthenticated" href="#" ng-click="logOut()" class="btn btn-default">Log out</a></p>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="container">
			<div class="span12">
				<div class="table-responsive">
					<div class="col-sm-12" ng-view></div>
				</div> 
			</div>
		</div>
		<footer class="footer">
			<div class="container">
				<span class="text-muted">&copy MyVideo 2015.</span> <span class="pull-right"><a href="/contact">Contact</a>&nbsp;<a href="/privacy"> Privacy</a></span>
			</div>
		</footer>
	</body>
	</html>