.table-responsive {
  margin-top:70px;
}

#video-container{
	border-right: 1px;
	border-right-style: solid;;
	border-right-color: #f5f5f5;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: #f5f5f5;
}

ul{
	list-style: none;
}

.video-desc{
	padding: 30px 0 30px 0;
	clear: both;
}

.video-tags {
    border: 1px;
    border-style: solid;
    border-color: #f5f5f5;
    border-left: none;
    border-right: none;
    padding-bottom: 10px;
    margin-top: 10px;
    clear: both;
}

.video-tags ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#welcome-msg{
  line-height: 3.6;
  padding-right: 10px;
}

.video-tags ul > li {
    display: inline-block;
    padding: 10px 10px 0 0;
    float: left;
    width: 120px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}

@media (min-width: 750px) {
	#video-player{
		height: 400px;
	}
}

@media (max-width: 750px) {
.tags-list li{
	display: inline;
	padding: 10px 10px 0 0;
	float: left;
}

button{
	height: 30px;
}

}

.required{
  color: #990000;
}

.required:after { content:" *"; }

.logo{
  max-width: 120px;
}